<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hookupandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_bMHvvD4K4JkSn4x4U_t9ySqxJx0OuH8" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity" />
        <activity android:name=".activities.PersonRecyclerViewActivity" />
        <activity android:name=".activities.NavDrawerExampleActivity" />
        <!-- <activity android:name=".activities.MockLocationActivity" /> -->
        <activity
            android:name=".activities.OldGeoLocActivity"
            android:theme="@style/MaterialTheme" />

        <activity android:name=".activities.Splash" />
        <!--<activity-->
            <!--android:name=".activities.Splash"-->
            <!--android:launchMode="singleTop"-->
            <!--android:theme="@style/MaterialTheme">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity android:name=".activities.NavDrawerMainActivity" />-->

        <activity
            android:name=".activities.NavDrawerMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.HookupMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.HookupRequestReceiver">
            <intent-filter>
                <action android:name="HOOKUP_REQUEST_YES_ACTION" />
                <action android:name="HOOKUP_REQUEST_NO_ACTION" />
                <action android:name="HOOKUP_REQUEST_DECIDE_LATER_ACTION" />
                <action android:name="HOOKUP_REQUEST_VIEW_PROFILE_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.MeetingResponseReceiver">
            <intent-filter>
                <action android:name="MEETING_OPEN_MAP_ACTION" />
                <action android:name="MEETING_ACCEPT_ACTION" />
                <action android:name="MEETING_DECLINE_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>